﻿<h1>Наши постояльцы</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
    <tr>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Номер палаты</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of patients">
        <ng-template [ngIf]="patient?.id != p.id" [ngIfElse]="edit">
            <td>{{p?.name}}</td>
            <td>{{p?.surname}}</td>
            <td>{{p?.chamberNumber}}</td>
            <td>
                <button class="btn btn-sm btn-primary" (click)="editPatient(p)">Изменить</button>
                <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
            </td>
        </ng-template>
    </tr>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="patient.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="patient.surname" class="form-control" />
    </td>
    <td>
        <input type="number" [(ngModel)]="patient.chamberNumber" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>Имя</label>
        <input type="text" [(ngModel)]="patient.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Фамилия</label>
        <input type="text" [(ngModel)]="patient.surname" class="form-control" />
    </div>
    <div class="form-group">
        <label>Номер палаты</label>
        <input type="number" [(ngModel)]="patient.chamberNumber" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>